.item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.15rem solid #7B7B7B;
    background: transparent;
    border-radius: 20%;
    font-weight: 600;
    font-size:12px;
    overflow: hidden;
}

.itemContainer {
    aspect-ratio: 1 / 1;
    width: 2rem;
    min-width: 10px;
    border-radius: 20%;
}

.flagged .item {
    background-image: url('../assets/Flag.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    border: none;
}

.mine .item{
    background-image: url('../assets/Mine.png');
    background-size: 100% 100%; 
    border: none;
}

.number .item{
    background: rgb(81,81,81);
    border: none;
}

.active .item{
    background-color: rgb(255,161,81);
    border: none;
}

.flaggedMine .item{
    background-image: url('../assets/Flag.png');
    background-size: 100% 100% ;
    border: none;
}

.flaggedMine .item::before  {
    content: "";
    aspect-ratio: 1 / 1; 
    height: 100%;
    background-size: 100% 100% ;
    border: none;
    background-image: url('../assets/Mine.png');
}